* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top_decal {
    margin-top: 1.25em;
    margin-left: 5em;
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 150px;
    }
}


#messagewindow {
    position: relative;
    top: 2px;
    bottom: 30px;
    padding-bottom: 110px
}

#namechatform {
    top: 10px;
}

#formt {
    padding: 3px;
    bottom: 0;
    width: 100%;
}

/*form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: #d2f8d2; border: none; padding: 5px; border-radius:5px  }*/
#messages {
    list-style-type: none;
    padding-top: 10px;
    width: 1200px;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.fixed_class {

    position: fixed !important;
    bottom: 10px;
    width: 930px;
    left: 46%;
    transform: translate(-50%, 0);
}

.fixed_class_button {
    position: fixed !important;
    bottom: 10px;
    width: 100px;
    left: 70%;

}

.medium-padding {
    padding: 50px 0;
}

#myCanvas {
    background-color: white;
}

section {
    padding: 15px 50px;
    background-color: #97E797;
}


body {
    font-family: 'Cardo', Arial, serif;
    font-weight: 700;
    font-size: 16px;
    padding-top: 70px;;
}

#messages li:nth-child(odd) {
    background-color: #97E797;
    color: grey;
}

.ed-btn-custom {
    margin-top: 10px;
    text-align: center;
    background-color: #97E797;
    border-color:#48be48;
}

.ed-flex-container {
    display: flex;
    justify-content: center;
}

.ed-nav-bar-custom {
    background: #c7f5c7; /* Old browsers */
    background: -moz-linear-gradient(top, #c7f5c7 0%, #97e797 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c7f5c7 0%,#97e797 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c7f5c7 0%,#97e797 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7f5c7', endColorstr='#97e797',GradientType=0 ); /* IE6-9 */
}

.ed-custom-enter-bar {
    display: block !important;
    position: fixed !important;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    background: #97e797; /* Old browsers */
    background: -moz-linear-gradient(top, #97e797 0%, #48be48 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #97e797 0%,#48be48 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #97e797 0%,#48be48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97e797', endColorstr='#48be48',GradientType=0 ); /* IE6-9 */
    padding-top: 10px;
    padding-bottom: 10px;

}

#messages li {
    padding: 5px 10px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: #48BE48;
    color: white;
    text-align: left;
    animation: fadeOut 2s linear forwards
}

.btn_color {
    background-color: #48BE48;
    border-color: #29A729;
    color: #FFFFFF;
}

.input_color {
    border-color: #48BE48;
}

.box {
    margin-top: 5px;
}

.canvas-style{
    margin-top:10px;
    margin-bottom:2em;
}

#resetCanvas{
    margin-left:10px;
}

.jumbotron {
    background: #97e797; /* Old browsers */
    background: -moz-linear-gradient(top, #97e797 0%, #48be48 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #97e797 0%,#48be48 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #97e797 0%,#48be48 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97e797', endColorstr='#48be48',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
    padding:15px 25px;
    opacity: 0.75;
}

.logo {
    font-size: 200px;
}

#floatingtoolbar{
    padding-bottom: 0;
    position: fixed;
    width:46px;
    left: 10em;
    top: 20em;
    background-color: #FFF;
    border: none;
    box-shadow: 1px 1px 3px #666;
    z-index: 10600;
    background-color: rgba(255,255,255,0.80);
}

#floatingtoolbar:hover{
    border-color:blue;
}


.toolbar-ul li{
    display:inline-block;
    float:left;
    list-style: none;
    margin-bottom: 5px;
    padding:4px;
    border-style:inset;
    border-width:2px ;
}

.toolbar-ul li:hover{
    color:blue;
    background-color:lightgreen;
}

.isSelected{
    background-color:lightblue;
}

.disabledbutton{
    background-color:white;
}

